<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcec3f77-5564-4e7c-86f1-fabc996c7a7f" Alias="Person - Github user - Github user" Level="1">
  <Info>
    <Name>Person - Github user - Github user</Name>
    <EditorAlias>githubUser</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>