<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bfc041c-0daa-49a3-abcd-7e0ae6b8e818" Alias="RichText settings - Background color - Color Picker" Level="1">
  <Info>
    <Name>RichText settings - Background color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"3d85c6\",\"label\":\"3d85c6\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"e06666\",\"label\":\"e06666\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"6aa84f\",\"label\":\"6aa84f\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>