<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19d9bc82-6e70-4f6a-b3a9-4a9da21f2357" Alias="TutorialPage - Keywords - Tags" Level="1">
  <Info>
    <Name>TutorialPage - Keywords - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>