<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cbb91d7-c78b-44f4-830b-177e4fd55c38" Alias="TutorialPage - Block list Content Body - Block List" Level="1">
  <Info>
    <Name>TutorialPage - Block list Content Body - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Text1",
      "settingsElementTypeKey": "8e6fc9bf-c145-455f-817b-4b0402383111",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/RichText/RichText.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "image",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/image/image.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "df834ab7-6b31-452c-80d9-6e977b17842e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Product listing",
      "settingsElementTypeKey": "4619fb14-eee9-4334-bd45-9952b77b1985",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/ProductListing/productlisting.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": true,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>