<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc41a208-5c36-4978-a3e2-7cfcfd581980" Alias="This will be great" Level="3">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Home/Blog/ThisWillBeGreat</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2023-11-22T15:34:31</CreateDate>
    <NodeName Default="This will be great" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/db8f49ef22e043478120410ce1850779",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/db8f49ef22e043478120410ce1850779",
      "richText": "<p>hello</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[[
  "great",
  "umbraco"
]]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Proin eget tortor risus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[This will be great]]></Value>
    </pageTitle>
    <publicationDate>
      <Value><![CDATA[]]></Value>
    </publicationDate>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>