<?xml version="1.0" encoding="utf-8"?>
<Content Key="9153d2bb-9b6b-4960-9a07-d407b1f8314d" Alias="Umbraco tutorial page" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/UmbracoTutorialPage</Path>
    <Trashed>false</Trashed>
    <ContentType>tutorialPage</ContentType>
    <CreateDate>2023-11-25T13:38:48</CreateDate>
    <NodeName Default="Umbraco tutorial page" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b750658f-25d6-4906-9484-af74a4f269b7">TutorialPage</Template>
  </Info>
  <Properties>
    <blockListContentBody>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/63eac5e9e5d94c54b6b087a96c7f1611",
        "settingsUdi": "umb://element/f874996388534eb6b488868e2bf4374a"
      },
      {
        "contentUdi": "umb://element/fa17c03048464a6e948ec4748f7ad4c0"
      },
      {
        "contentUdi": "umb://element/3c1237ce67ed433ca89802e7bf81fed2"
      },
      {
        "contentUdi": "umb://element/bc41a4e70ec14a6186a79c690bac3937",
        "settingsUdi": "umb://element/c985b2ecb6654e09be2f7564e8f7ae96"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/63eac5e9e5d94c54b6b087a96c7f1611",
      "richText": "<p>dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf dthdfghdf </p>"
    },
    {
      "contentTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "udi": "umb://element/3c1237ce67ed433ca89802e7bf81fed2",
      "image": [
        {
          "key": "3d399ff2-1d9c-458b-a8f1-451752fbc3fd",
          "mediaKey": "1bc5280b-8658-4027-89d9-58e2576e469b"
        }
      ]
    },
    {
      "contentTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "udi": "umb://element/fa17c03048464a6e948ec4748f7ad4c0",
      "image": [
        {
          "key": "f5ccd126-d084-43b4-bea4-69bad6bc4420",
          "mediaKey": "b76ddb4e-e603-4014-9906-6087984740ec"
        }
      ],
      "alternativeText": "this is a bowling ball"
    },
    {
      "contentTypeKey": "df834ab7-6b31-452c-80d9-6e977b17842e",
      "udi": "umb://element/bc41a4e70ec14a6186a79c690bac3937",
      "title": "products"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8e6fc9bf-c145-455f-817b-4b0402383111",
      "udi": "umb://element/f874996388534eb6b488868e2bf4374a",
      "backgroundColor": {
        "value": "e06666",
        "label": "e06666",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "4619fb14-eee9-4334-bd45-9952b77b1985",
      "udi": "umb://element/c985b2ecb6654e09be2f7564e8f7ae96",
      "numberOfProducts": "2"
    }
  ]
}]]></Value>
    </blockListContentBody>
    <description>
      <Value><![CDATA[<p>hello there</p>]]></Value>
    </description>
    <keywords>
      <Value><![CDATA[[
  "hello"
]]]></Value>
    </keywords>
  </Properties>
</Content>