<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18e6604c-ba06-4c57-86d2-8cb1de3dba43" Alias="tutorialPage" Level="1">
  <Info>
    <Name>TutorialPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TutorialPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b750658f-25d6-4906-9484-af74a4f269b7">TutorialPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>49bd85bd-c6a2-40d1-a974-45e63150e3ca</Key>
      <Name>Block list Content Body</Name>
      <Alias>blockListContentBody</Alias>
      <Definition>2cbb91d7-c78b-44f4-830b-177e4fd55c38</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainContent">Main Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b68c809c-424f-4c5e-9ff4-314da0fd6a8d</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigationAndSEO">Navigation and SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e393258-3411-41d1-838d-52e15b71f1fb</Key>
      <Name>Keywords</Name>
      <Alias>keywords</Alias>
      <Definition>19d9bc82-6e70-4f6a-b3a9-4a9da21f2357</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigationAndSEO">Navigation and SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>30edd910-e46d-4580-b39d-ffb50804f5c0</Key>
      <Caption>Main Content</Caption>
      <Alias>mainContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7755a3b4-e2da-49bd-ba12-f9e14a37aa11</Key>
      <Caption>Navigation and SEO</Caption>
      <Alias>navigationAndSEO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>